*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
        .main-section {
            width: 80%;
            margin: auto;
        }

        .nav {

            display: flex;
           /* position: fixed; */
           /* z-index: 1; */
            /* overflow: hidden; */

            /* background-color: rgb(81, 236, 184); */
            justify-content: space-around;
            /* border: 1px solid red; */
            align-items: center;
            padding: 30px 40px;
            /* margin: auto; */
            box-shadow: rgba(253, 7, 7, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(202, 5, 5, 0.2) 0px -3px 0px inset;
            /* padding: 10px ; */


        }

        .nav>div:nth-child(1) {
            width: 20%;
        }

        .logo {
            margin-top: 20px;

            width: 50px;
        }

       

        input {
            padding: 15px 250px;
            border-radius: 6px;
            text-align: center;
        }

        button {
            padding: 10px 20px;
            border-radius: 30px;
            /* z-index: 1; */
        }
        #medicare{
            margin-top: 20px;
            text-align: center;
        }

        /* ul li {
            justify-content: space-evenly;
            padding: 10px;

            list-style: none;



        } */

        .main {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 20px;
            margin-bottom: 50px;
            
        }

        .main>div {

            text-align: center;
            width: 60%;
            box-shadow: rgba(227, 37, 7, 0.2) 0px 7px 29px 0px;
            margin: 0px 10px;
            padding: 0px 15px;
            border-radius: 6px;


        }

        .main>div>img {
            width: 100%;
        }

        #container {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20px;
        }

        .cart {
            width: 55px;
        }

        .second {
            display: flex;
            box-shadow: rgba(237, 5, 5, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(237, 7, 7, 0.2) 0px -3px 0px inset;


            color: white;
            background-color: black;
        }

        .second li {
            align-content: flex-start;
            list-style: none;
            font-weight: bold;
            padding: 10px;
        }



        .img1 {
            width: 100%;
        }


        .main-carousel {
            display: flex;
            justify-content: space-around;
            width: 80%;
            margin: auto;
            align-items: center;

        }

        .main-carousel img {
            width: 100%;
        }



        .main-slid {
            /* width: 90%; */
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 50px;
        }

        .category1 {
            margin: auto;

        }

        .category {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            margin-top: 30px;
            margin-bottom: 40px;
           
        }

        .category>div {
            width: 80%;
            box-shadow: rgba(235, 75, 6, 0.2) 0px 7px 29px 0px;
            margin: 0px 10px;
            padding: 0px 15px;
            /* height: 5vh; */

        }

        .category>div>img {
            width: 100%;
        }

        .category2 {
            margin: auto;

        }

        .category3 {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
        }

        .category3>div {
            width: 20%;

        }

        .category>div>img {
            width: 100%;
        }

        .well>img {
            width: 100%;
        }

        .well1>img {
            width: 40%;
        }

        .well3>img {
            width: 20%;
        }

        .owl-carousel {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            margin-top: 30px;
            margin-bottom: 50px;


        }

        .item {
            width: 60%;
            /* width: 80%; */
            box-shadow: rgba(229, 49, 8, 0.2) 0px 7px 29px 0px;
            margin: 0px 10px;
            padding: 0px 15px;
        }

        .item>img {
            width: 100%;
            height: 20vh;
        }

        /* .item1 {
            width: 70%;
            height: 30vh;
        } */


        .information {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            margin-top: 30px;
            margin-bottom: 50px;
        }

        .inform1 {
            width: 40%;
        }

        /* .foot {

            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            background-color: rgb(163, 221, 233);
            padding: 40px;
        } */

        .payt {
            display: flex;
            justify-content: space-between;
            background-color: rgb(163, 221, 233);
        }

        .left>img {
            width: 50px;
            padding: 0px 10px;
        }

        .left>img:nth-child(3) {
            width: 35px;
        }

        .right {
            display: flex;
            justify-content: right;
            align-items: center;
            align-content: flex-end;
        }

        .right>p {
            padding: 0px 5px;
        }

        .searches {
            
            display: flex;
            margin: auto;
            margin-top: 50px;
            height: 5vh;
            width: 41.5vw;
            justify-content: space-between;
            
        }
        .box{
            width: 35vw;
        }
        .btn{
            width: 5.5vw;
            /* margin-top: 6px;
            margin-bottom: 6px; */
        }

        .login:hover {
            cursor: pointer;

        }
        a{
            text-decoration: none;
            font-size: 30px;
            padding: 10px;
            font-weight: bold;
        }
        a:hover{
            transform: scale(1.3);
            z-index: 2;
        }
        .btn button{
            background-color: rgb(120, 35, 200);
            color: white;
            border: none;
            font-weight: bold;
            font-size: 20px;
            margin-top: 5px;
            margin-bottom: 6px;
        }
        .login{
            background-color: rgb(120, 35, 200);
            color: white;
            border: none;
            font-weight: bold;
        }
        .login:hover{
            transform: scale(1.3);
            z-index: 2;
        }
        .foot{
            display: grid;
            grid-template-columns: repeat(6,1fr);
            height: 60vh;
            margin: auto;
            background-color:rgb(150, 251, 251) ;
        }
        .foot h1,p{
            padding: 10px 15px;
        }

        .tren{
            
            /* width: 80%; */
           
            display: grid;
            grid-template-columns: repeat(5,1fr);
            gap: 20px;
            margin-top: 30px;
            margin-bottom: 50px;
        }
        .tren>div{
            text-align: center;
            width: 60%;
            box-shadow: rgba(233, 17, 5, 0.2) 0px 7px 29px 0px;
            margin: 0px 10px;
            padding: 0px 15px;

        }
        .tren>div>img{
            width: 100%;
            height: 30vh;
        }

        .feature{
            display: grid;
            grid-template-columns: repeat(5,1fr);
            gap: 20px;
            margin-top: 30px;
            margin-bottom: 50px;
        }
        .feature>div{
            text-align: center;
            width: 60%;
            box-shadow: rgba(225, 7, 7, 0.2) 0px 7px 29px 0px;
            margin: 0px 10px;
            padding: 0px 15px;

        }
        .feature>div>img{
            width: 100%;
            height: 30vh;
        }

        .photo{
            display: grid;
            grid-template-columns: repeat(5,1fr);
            gap: 20px;
            margin-top: 30px;
            margin-bottom: 50px;
        }
        .photo>div{
            text-align: center;
            width: 60%;
            box-shadow: rgba(240, 34, 7, 0.2) 0px 7px 29px 0px;
            margin: 0px 10px;
            padding: 0px 15px;

        }
        .photo>div>img{
            width: 100%;
            height: 30vh;
        }
        
        .deals{
            display: grid;
            grid-template-columns: repeat(5,1fr);
            gap: 20px;
            margin-top: 30px;
            margin-bottom: 50px;
        }
        .deals>div{
            text-align: center;
            width: 60%;
            box-shadow: rgba(255, 39, 6, 0.2) 0px 7px 29px 0px;
            margin: 0px 10px;
            padding: 0px 15px;

        }
        .deals>div>img{
            width: 100%;
            height: 20vh;
        }
        .impact{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;

        }

        .impact>div{
            text-align: center;
            width: 90%;
            box-shadow: rgba(241, 29, 9, 0.2) 0px 7px 29px 0px;
            /* margin: 0px 10px; */
            /* padding: 0px 15px; */
            background-color:rgb(150, 251, 251) ;
            margin: auto;

        }
       
        .impact>div>h1{
            line-height: 50px;
        }
        #play{
            width: 100%;
            height: 50vh;
        }