*{
    margin: 0;
    padding: 0;
}
        .main-section {
            width: 90%;
            margin: auto;
        }

        .nav {

            display: flex;
           /* position: fixed; */
           /* z-index: 1; */
            /* overflow: hidden; */

            background-color: rgb(81, 236, 184);
            justify-content: space-around;
            /* border: 1px solid red; */
            align-items: center;
            padding: 30px 40px;
            /* margin: auto; */
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            /* padding: 10px ; */


        }

        .nav>div:nth-child(1) {
            width: 20%;
        }

        .logo {
            margin-top: 20px;

            width: 50px;
        }

        /* ul {
            margin: 0;
            background-color: rgb(81, 236, 184);
            display: flex;
            text-align: center;
            justify-content: center;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;





        } */

        input {
            padding: 15px 250px;
            border-radius: 6px;
            text-align: center;
        }

        button {
            padding: 10px 20px;
            border-radius: 30px;
            /* z-index: 1; */
        }
        #medicare{
            margin-top: 20px;
            text-align: center;
        }

        /* ul li {
            justify-content: space-evenly;
            padding: 10px;

            list-style: none;



        } */

        .main {
            display: flex;
            width: 90%;
            justify-content: space-around;
            text-align: center;
            margin: auto;
        }

        .main>div {

            width: 30%;


        }

        .main>div>img {
            width: 100%;
        }

        #container {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20px;
        }

        .cart {
            width: 55px;
        }

        .second {
            display: flex;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;


            color: white;
            background-color: black;
        }

        .second li {
            align-content: flex-start;
            list-style: none;
            font-weight: bold;
            padding: 10px;
        }



        .img1 {
            width: 100%;
        }


        .main-carousel {
            display: flex;
            justify-content: space-around;
            width: 80%;
            margin: auto;
            align-items: center;

        }

        .main-carousel img {
            width: 100%;
        }



        .main-slid {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .category1 {
            margin: auto;

        }

        .category {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
        }

        .category>div {
            width: 30%;

        }

        .category>div>img {
            width: 100%;
        }

        .category2 {
            margin: auto;

        }

        .category3 {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
        }

        .category3>div {
            width: 20%;

        }

        .category3>div>img {
            width: 40%;
        }

        .well>img {
            width: 100%;
        }

        .well1>img {
            width: 40%;
        }

        .well3>img {
            width: 20%;
        }

        .owl-carousel {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;


        }

        .item {
            width: 40%;
        }

        .item>img {
            width: 70%;
        }

        .item1 {
            width: 20%;
        }


        .information {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
        }

        .inform1 {
            width: 40%;
        }

        .foot {

            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            background-color: rgb(163, 221, 233);
            padding: 40px;
        }

        .payt {
            display: flex;
            justify-content: space-between;
        }

        .left>img {
            width: 50px;
            padding: 0px 10px;
        }

        .left>img:nth-child(3) {
            width: 35px;
        }

        .right {
            display: flex;
            justify-content: right;
            align-items: center;
            align-content: flex-end;
        }

        .right>p {
            padding: 0px 5px;
        }

        .searches {
            
            display: flex;
            margin: auto;
            margin-top: 50px;
            height: 5vh;
            width: 41.5vw;
            justify-content: space-between;
            
        }
        .box{
            width: 35vw;
        }
        .btn{
            width: 4vw;
            margin-top: 5px ;
        }

        .login:hover {
            cursor: pointer;

        }
        a{
            text-decoration: none;
            font-size: 30px;
            padding: 10px;
            font-weight: bold;
        }
        a:hover{
            background-color: black;
        }